<div class='nested-fields'>
    <div class='order'>
        <%= f.input :title %>
        <%= f.input :date %>
        <%= f.input :quantity %>
        <%= link_to_remove_association '削除', f %>
    </div>
</div>